{% extends "account/base_entrance.html" %}
{% load static %}
{% load i18n %}
{% load allauth account %}

{% block head_title %}
    {% trans "Sign Up" %}
{% endblock head_title %}

{% block content %}
<div class="auth-screen-container p-4 d-flex flex-column align-items-center justify-content-center">
    <div id="signup-form-container" class="p-4 rounded">
        <h1 class="heading-font">{% trans "Sign Up" %}</h1>
        <p>
            {% blocktranslate %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktranslate %}
        </p>
        <form method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {{ redirect_field }}
            <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
        </form>
    </div>
</div>
{% endblock content %}

{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_SIGNUP_ENABLED %}
        {% include "mfa/webauthn/snippets/signup_script.html" with button_id="passkey_signup" %}
    {% endif %}
{% endblock extra_body %}