{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}User Profile | DnD Character Creator{% endblock %}

{% block extra_head_content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.css" integrity="sha512-087vysR/jM0N5cp13Vlp+ZF9wx6tKbvJLwPO8Iit6J7R+n7uIMMjg37dEgexOshDmDITHYY5useeSmfD1MYiQA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}


{% block content %}
<div class="container pt-4">
    <div class="row d-flex flex-column flex-md-row py-4">
        <div class="d-flex flex-column justify-content-center align-items-center col-12 col-md-4 col-lg-3">
            <img class="profile-image mb-4 mb-md-0 me-md-4" src="{{ user.userprofile.image }}" alt="Profile Picture">
            {% if is_own_profile %}
                
                <label for="image-upload" class="btn btn-outline-primary mt-2">Upload image</label>
                <input data-user-id="{{ user.id }}" type="file" class="d-none" id="image-upload">
                <!-- <input type="file" class="form-control" id="image-upload"> -->
            {% endif %}
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center align-items-md-start col-12 col-md-8 col-lg-9">
            <h1 class="heading-font">{{ user.username }}</h1>
            <div id="bio-container">
                {% if user.userprofile.bio %}
                    <p id="bio-text">{{ user.userprofile.bio }}</p>
                {% endif %}
                {% if not user.userprofile.bio %}
                    <p>No bio.</p>
                {% endif %}
                {% if is_own_profile %}
                    <button id="edit-bio-button" class="btn btn-outline-primary">Edit bio</button>
                {% endif %}
            </div>
            
            {% if is_own_profile %}
                <form class="d-none align-self-stretch " id="edit-bio-form" action="{% url 'edit_profile_bio' user.id %}" method="POST">
                    {% csrf_token %}
                    <textarea class="form-control" name="bio" id="bio-textarea" class="form-control" rows="3">{{ user.userprofile.bio }}</textarea>
                    <button type="submit" class="btn btn-primary mt-2">Save</button>
                </form>
            {% endif %}

        </div>
    </div>
    {% if created_characters %}
        <div class="row py-4">
            <h2 class="h4 mb-4 heading-font">Created Characters</h2>
            {% for character in created_characters %}
                <div class="character-card-column col-6 col-md-4 col-lg-3 col-xxl-2 mb-4 d-flex">
                    <div class="card flex-grow-1 character-card">
                        <div class="ratio ratio-1x1 character-card-image-holder" style="background-image: url({{ character.image }});"></div>
                        <div class="card-body d-flex flex-column">
                            <p class="card-title h5 heading-font">{{ character.name }}</p>
                            <p class="card-subtitle h6 text-muted">{{ character.race_data.name }} {{ character.class_data.name }}</p>
                            <div class="mt-2 mb-4 d-flex flex-wrap align-items-center">
                                <img class="character-card-creator-image me-1" src="{{ character.user.userprofile.image }}" alt="Profile Picture">
                                <a href="{% url 'profile' character.user.id %}" class="character-card-small-text text-truncate">by {{ character.user.username }}</a>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-auto">
                                <a href="{% url 'characters:character_detail' character.id %}" class="btn btn-outline-primary">View</a>
                                {% if character.liked_by.count > 0 %}
                                    <span class="character-card-small-text text-muted">{{ character.liked_by.count }} {{ character.liked_by.count|pluralize:"like,likes" }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if liked_characters %}
        <div class="row py-4">
            <h2 class="h4 mb-4 heading-font">Liked Characters</h2>
            {% for character in liked_characters %}
                <div class="character-card-column col-6 col-md-4 col-lg-3 col-xxl-2 mb-4 d-flex">
                    <div class="card flex-grow-1 character-card">
                        <div class="ratio ratio-1x1 character-card-image-holder" style="background-image: url({{ character.image }});"></div>
                        <div class="card-body d-flex flex-column">
                            <p class="card-title h5 heading-font">{{ character.name }}</p>
                            <p class="card-subtitle h6 text-muted">{{ character.race_data.name }} {{ character.class_data.name }}</p>
                            <div class="mt-2 mb-4 d-flex flex-wrap align-items-center">
                                <img class="character-card-creator-image me-1" src="{{ character.user.userprofile.image }}" alt="Profile Picture">
                                <a href="{% url 'profile' character.user.id %}" class="character-card-small-text text-truncate">by {{ character.user.username }}</a>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-auto">
                                <a href="{% url 'characters:character_detail' character.id %}" class="btn btn-outline-primary">View</a>
                                {% if character.liked_by.count > 0 %}
                                    <span class="character-card-small-text text-muted">{{ character.liked_by.count }} {{ character.liked_by.count|pluralize:"like,likes" }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
</div>

<div id="image-modal-overlay" class="image-modal-overlay">
    <div id="image-crop-container">
        <img id="image-to-crop" src="" alt="Cropped image">
    </div>
    <div id="crop-buttons-container">
        <button id="crop-cancel-button" type="button" class="btn btn-danger">Cancel</button>
        <button id="crop-image-button" type="button" class="btn btn-primary ms-2">Crop Image</button>
    </div>
</div>


{% endblock %}



{% block extra_body %}
{%  endblock%}


{% block extra_scripts %}
<script type="module" src="{% static 'js/userProfile.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js" integrity="sha512-JyCZjCOZoyeQZSd5+YEAcFgz2fowJ1F1hyJOXgtKu4llIa0KneLcidn5bwfutiehUTiOuK87A986BZJMko0eWQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}
