{% extends "base.html" %}

{% block title %}Characters | DnD Character Creator{% endblock %}

{% block content %}
<div class="container">

    <form class="d-flex flex-column flex-md-row justify-content-md-end mt-4" method="get">
        <div class="d-flex align-items-center">
            <label class="form-label mb-0" for="character_class">Class:</label>
            <select class="form-select ms-2" id="character_class" name="character_class">
                <option value="">All</option>
                <option value="44f84547-8935-4ab4-bd29-fb60d0000d04" {% if request.GET.character_class == "44f84547-8935-4ab4-bd29-fb60d0000d04" %}selected{% endif %}>Barbarian</option>
                <option value="ea6fbdc2-82c7-44d7-b065-bd70e136ccc7" {% if request.GET.character_class == "ea6fbdc2-82c7-44d7-b065-bd70e136ccc7" %}selected{% endif %}>Bard</option>
                <option value="17d2bd00-57b7-4756-b14e-43bf1f102585" {% if request.GET.character_class == "17d2bd00-57b7-4756-b14e-43bf1f102585" %}selected{% endif %}>Cleric</option>
                <option value="e72b02b5-a7d0-4b1b-860f-7c965ea5e18c" {% if request.GET.character_class == "e72b02b5-a7d0-4b1b-860f-7c965ea5e18c" %}selected{% endif %}>Fighter</option>
                <option value="32ea43f0-8f6f-4ce4-829c-f58955a758d1" {% if request.GET.character_class == "32ea43f0-8f6f-4ce4-829c-f58955a758d1" %}selected{% endif %}>Rogue</option>
                <option value="ef560074-395d-4e42-b5ac-5ad9d3342271" {% if request.GET.character_class == "ef560074-395d-4e42-b5ac-5ad9d3342271" %}selected{% endif %}>Wizard</option>
            </select>
        </div>
        <div class="d-flex align-items-center ms-md-4 mt-2 mt-md-0">
            <label class="form-label mb-0" for="race">Race:</label>
            <select class="form-select ms-2" id="race" name="race">
                <option value="">All</option>
                <option value="095914ea-d0a5-41dd-a003-6b5d4558a3ad" {% if request.GET.race == "095914ea-d0a5-41dd-a003-6b5d4558a3ad" %}selected{% endif %}>Dwarf</option>
                <option value="576c1e3a-8464-4c1a-bbe7-3dde6813bbd3" {% if request.GET.race == "576c1e3a-8464-4c1a-bbe7-3dde6813bbd3" %}selected{% endif %}>Elf</option>
                <option value="bf3b0c49-80cc-4258-85a0-3974f656469a" {% if request.GET.race == "bf3b0c49-80cc-4258-85a0-3974f656469a" %}selected{% endif %}>Halfling</option>
                <option value="4725316c-cfc5-44a2-a69f-563088dec352" {% if request.GET.race == "4725316c-cfc5-44a2-a69f-563088dec352" %}selected{% endif %}>Human</option>
                <option value="ec1f0336-fb41-4ac8-b1f3-2a574ddb1bd5" {% if request.GET.race == "ec1f0336-fb41-4ac8-b1f3-2a574ddb1bd5" %}selected{% endif %}>Half-Elf</option>
                <option value="8b5c75dd-3d4f-41b4-a7c2-ec516f02256e" {% if request.GET.race == "8b5c75dd-3d4f-41b4-a7c2-ec516f02256e" %}selected{% endif %}>Tiefling</option>
            </select>
        </div>
        <button class="align-self-end btn btn-primary ms-md-4 mt-2 mt-md-0" type="submit">Apply Filters</button>
    </form>

    <div class="row my-4">
        {% for character in characters %}
            <div class="character-card-column col-6 col-md-4 col-lg-3 col-xxl-2 mb-4 d-flex">
                <div class="card flex-grow-1 character-card">
                    <div class="ratio ratio-1x1 character-card-image-holder" style="background-image: url({{ character.image_url }});"></div>
                    <div class="card-body d-flex flex-column">
                        <p class="card-title h5">{{ character.name }}</p>
                        <p class="card-subtitle h6 text-muted">{{ character.race_data.name }} {{ character.class_data.name }}</p>
                        <div class="mt-2 mb-4 d-flex flex-wrap align-items-center">
                            <img class="character-card-creator-image me-1" src="{{ character.user.userprofile.profile_image_url }}" alt="Profile Picture">
                            <a href="{% url 'profile' character.user.id %}" class="character-card-small-text text-truncate">by {{ character.user.username }}</a>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-auto">
                            <a href="{% url 'characters:character_detail' character.id %}" class="btn btn-outline-primary">View</a>
                            {% if character.liked_by.count > 0 %}
                                <span class="character-card-small-text text-muted">{{ character.liked_by.count }} {{ character.liked_by.count|pluralize:"like,likes" }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    {% if is_paginated %}
        <div class="d-flex justify-content-center align-items-center mt-4">
            
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-primary me-2" href="?page={{ page_obj.previous_page_number }}">&laquo; previous</a>
                {% endif %}
                {% if not page_obj.has_previous %}
                    <button disabled class="btn btn-outline-secondary me-2">&laquo; previous</button>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-primary ms-2" href="?page={{ page_obj.next_page_number }}">next &raquo;</a>
                {% endif %}
                {% if not page_obj.has_next %}
                    <button disabled class="btn btn-outline-primary ms-2">next &raquo;</button>
                {% endif %}
            
        </div>
    {% endif %}
    
</div>
{% endblock %}