{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}View Character | DnD Character Creator{% endblock %}

{% block content %}
<div class="container pt-4">
    <div class="row">
        
        <!-- Header and character intro -->
        <div class="col-12 d-flex flex-column flex-md-row align-items-center" id="character-intro">
            <img src="{{ character.image }}" alt="An image of the character" class="character-sheet-character-image">
            <div class="ms-md-4 d-flex flex-column align-items-center align-items-md-start align-self-stretch align-self-md-center">
                <h1 class="heading-font">{{ character.name }}</h1>
                <p>{{ character.race_data.name }} {{ character.class_data.name }} | {{ character.age }} years old  |  {{ character.gender }}</p>
                <div>
                    <span class="badge bg-dark">Size: {{ character.race_data.size }}</span>
                    <span class="badge bg-dark">Speed: {{ character.race_data.speed }} ft</span>
                    <span class="badge bg-dark">Hit Die: 1d{{ character.class_data.hitDie }}</span>
                </div>
                <div class="mt-2 d-flex align-items-center">
                    <img src="{{ character.user.userprofile.profile_image_url }}" alt="Profile Picture" class="character-sheet-user-image me-2">
                    <a href="{% url 'profile' character.user.id %}">by {{ character.user.username }}</a>
                </div>
                <!-- Action buttons -->
                {% if is_logged_in %}
                    <div class="character-sheet-controls-container d-flex flex-column align-self-stretch flex-md-row flex-md-wrap">
                        {% if user_is_owner %}
                            <a class="btn btn-outline-primary mt-2 ms-md-1" href="{% url 'characters:edit_character' character.id %}">Edit <i class="fa-solid fa-pen-to-square"></i></a>
                            <button id="delete-button" data-bs-toggle="modal" data-bs-target="#deletionConfirmationModal" class="btn btn-outline-danger mt-2 ms-md-1">Delete <i class="fa-solid fa-trash-can"></i></button>
                            {% if character.is_public %}
                                <a class="btn btn-outline-primary mt-2 ms-md-1" href="{% url 'characters:toggle_privacy' character.id %}">Make Private <i class="fa-solid fa-lock"></i></a>
                            {% endif %}
                            {% if not character.is_public %}
                                <a class="btn btn-outline-primary mt-2 ms-md-1" href="{% url 'characters:toggle_privacy' character.id %}">Make Public <i class="fa-solid fa-lock-open"></i></a>
                            {% endif %}
                        {% endif %}
                        <a class="btn btn-outline-primary mt-2 ms-md-1" href="{% url 'characters:clone_character' character.id %}">Clone <i class="fa-solid fa-clone"></i></a>
                        <div class="d-flex align-items-stretch flex-column flex-md-row mt-2 ms-md-1">
                            {% if user_has_liked %}
                            <a class="btn btn-outline-primary" href="{% url 'characters:toggle_like' character.id %}">Liked <i class="fa-solid fa-heart"></i></a>
                            {% endif %}
                            {% if not user_has_liked %}
                                <a class="btn btn-outline-primary" href="{% url 'characters:toggle_like' character.id %}">Like <i class="fa-regular fa-heart"></i></a>
                            {% endif %}
                            {% if character.liked_by.count > 0 %}
                                <span class="character-card-small-text align-self-center text-muted ms-1">{{ character.liked_by.count }} {{ character.liked_by.count|pluralize:"like,likes" }}</span>
                            {% endif %} 
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Character background section -->
        <div class="col-12 col-md-6 pt-5" id="character-background">
            <h2 class="mb-4 h3 heading-font">Background</h2>
            <span class="badge text-bg-dark">{{ character.alignment }} Alignment</span>
            <p>{{ character.background }}</p>
            {% if character.traits or character.ideals or character.bonds or character.flaws %}
                <ul class="list-group mt-4">
                    {% if character.traits %}
                        <li class="list-group-item">
                            <p class="h5">Traits</p>
                            <ul class="list-group list-group-flush">
                                {% for trait in character.traits %}
                                    <li class="list-group-item px-1">{{ trait }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if character.ideals %}
                        <li class="list-group-item">
                            <p class="h5">Ideals</p>
                            <ul class="list-group list-group-flush">
                                {% for ideal in character.ideals %}
                                    <li class="list-group-item px-1">{{ ideal }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if character.bonds %}
                        <li class="list-group-item">
                            <p class="h5">Bonds</p>
                            <ul class="list-group list-group-flush">
                                {% for bond in character.bonds %}
                                    <li class="list-group-item px-1">{{ bond }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if character.flaws %}
                        <li class="list-group-item">
                            <p class="h5">Flaws</p>
                            <ul class="list-group list-group-flush">
                                {% for flaw in character.flaws %}
                                    <li class="list-group-item px-1">{{ flaw }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>

        <!-- Character appearance section -->
        <div class="col-12 col-md-6 pt-5" id="character-appearance">
            <h2 class="mb-4 h3 heading-font">Appearance</h2>
            <div class="border border-light-subtle p-3 bg-white rounded">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Height</th>
                            <td>{{ character.height }}</td>
                        </tr>
                        <tr>
                            <th>Build</th>
                            <td>{{ character.build }}</td>
                        </tr>
                        <tr>
                            <th>Skin Tone</th>
                            <td>{{ character.skin_tone }}</td>
                        </tr>
                        <tr>
                            <th>Eye Color</th>
                            <td>{{ character.eye_color }}</td>
                        </tr>
                        <tr>
                            <th>Eye Shape</th>
                            <td>{{ character.eye_shape }}</td>
                        </tr>
                        {% if character.distinguishing_features != "" %}
                            <tr>
                                <th>Distinguishing Features</th>
                                <td>{{ character.distinguishing_features }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Hair Color</th>
                            <td>{{ character.hair_color }}</td>
                        </tr>
                        <tr>
                            <th>Hair Style</th>
                            <td>{{ character.hair_style }}</td>
                        </tr>
                        <tr>
                            <th>Hair Length</th>
                            <td>{{ character.hair_length }}</td>
                        </tr>
                        <tr>
                            <th>Hair Type</th>
                            <td>{{ character.hair_type }}</td>
                        </tr>
                        {% if character.facial_hair_style != "None" %}
                            <tr>
                                <th>Facial Hair Style</th>
                                <td>{{ character.facial_hair_style }}</td>
                            </tr>
                        {% endif %}
                        {% if character.facial_hair_length != "" %}
                            <tr>
                                <th>Facial Hair Length</th>
                                <td>{{ character.facial_hair_length }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Clothing Style</th>
                            <td>{{ character.clothing_style }}</td>
                        </tr>
                        <tr>
                            <th>Clothing Colors</th>
                            <td>{{ character.clothing_colors }}</td>
                        </tr>
                        {% if character.clothing_accessories != "" %}
                            <tr>
                                <th>Accessories</th>
                                <td>{{ character.clothing_accessories }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Character proficiencies section -->
        <div class="col-12 col-lg-9 pt-5" id="character-proficiencies">
            <h2 class="mb-4 h3 heading-font">Proficiencies</h2>
            <div class="border border-light-subtle p-3 bg-white rounded">     
                <table class="table">
                    <tbody>
                        {% if character.class_data.proficiencies.armor %}
                        <tr>
                            <th>Armor proficiencies</th>
                            <td>
                                {% for armor in character.class_data.proficiencies.armor %}
                                    <span class="badge text-bg-dark">{{ armor.name }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        {% if character.class_data.proficiencies.weapons %}
                        <tr>
                            <th>Weapon proficiencies</th>
                            <td>
                                {% for weapon in character.class_data.proficiencies.weapons %}
                                    <span class="badge text-bg-dark">{{ weapon.name }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        {% if character.class_data.proficiencies.savingThrows %}
                        <tr>
                            <th>Saving throw proficiencies</th>
                            <td>
                                {% for saving_throw in character.class_data.proficiencies.savingThrows %}
                                    <span class="badge text-bg-dark">{{ saving_throw.name }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>Skill proficiencies</th>
                            <td>
                                {% for skill in character.character_class_skill_choices %}
                                    <span class="badge text-bg-dark">{{ skill.name }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Character equipment section -->
        <div class="col-12 col-lg-3 pt-5" id="character-equipment">
            <h2 class="mb-4 h3 heading-font">Equipment</h2>
            <ul class="list-group">
                {% for equipment in character.class_data.equipment %}
                    <li class="d-flex justify-content-between list-group-item">{{ equipment.item.name }}  <span class="badge text-bg-light"> × {{ equipment.quantity }}</span></li>
                {% endfor %}
            </ul>
        </div>

        <!-- Character ability points section -->
        <div class="col-12 pt-5" id="character-ability-points">
            <h2 class="mb-4 h3 heading-font">Ability Points</h2>
            <div class="row">
                {% for ability in character.ability_points %}
                <div class="d-flex mb-4 col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between justify-content-md-around">
                                <p class="display-1 ability-card-number">{{ ability.derived_value }}</p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">Base Score: <span class="ms-1 badge bg-light text-dark">{{ ability.base_value }}</span></li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">Racial Bonus: <span class="ms-1 badge {{ ability.racial_bonus|value_class }}">{{ ability.racial_bonus }}</span></li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">Modifier: <span class="ms-1 badge {{ ability.modifier|value_class }}">{{ ability.modifier }}</span></li>
                                </ul>     
                            </div>
                            <h5 class="card-title">{{ ability.ability.name }}</h5>
                            <p class="card-text">{{ ability.ability.description }}</p>
                        </div>    
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Character spellcasting section -->
        {% if character.character_class_cantrip_choices or character.character_class_spell_choices %}
            <div class="col-12 col-xl-6 my-5">
                <h2 class="mb-4 h3 heading-font">Spellcasting</h2>
                <div class="accordion" id="spellcasting-accordion">
                    {% for cantrip in character.character_class_cantrip_choices %}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cantrip{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                                    {{ cantrip.name }}
                                </button>
                            </h2>
                            <div id="cantrip{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#spellcasting-accordion">
                                <div class="accordion-body">
                                    <p>{{ cantrip.description | safe }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% for spell in character.character_class_spell_choices %}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#spell{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                                    {{ spell.name }}
                                </button>
                            </h2>
                            <div id="spell{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#spellcasting-accordion">
                                <div class="accordion-body">
                                    <p>{{ spell.description | safe }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <!-- Additional character properties section -->
        {% if character.race_data.additionalProperties or character.class_data.additionalProperties or character.race_data.darkvision %}
            <div class="col-12 my-5 {% if character.character_class_cantrip_choices or character.character_class_spell_choices %}col-xl-6{% endif %}">
                <h2 class="mb-4 h3 heading-font">Additional Properties</h2>
                <div class="accordion" id="additional-properties-accordion">
                    {% for property in character.race_data.additionalProperties %}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#raceProperty{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                                    {{ property.name }}
                                </button>
                            </h2>
                            <div id="raceProperty{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#additional-properties-accordion">
                                <div class="accordion-body">
                                    <p>{{ property.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% for property in character.class_data.additionalProperties %}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#classProperty{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                                    {{ property.name }}
                                </button>
                            </h2>
                            <div id="classProperty{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#additional-properties-accordion">
                                <div class="accordion-body">
                                    <p>{{ property.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if character.race_data.darkvision %}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#darkvisionProperty" aria-expanded="true" aria-controls="collapseOne">
                                    Darkvision
                                </button>
                            </h2>
                            <div id="darkvisionProperty" class="accordion-collapse collapse" data-bs-parent="#additional-properties-accordion">
                                <div class="accordion-body">
                                    <p>You can see in darkened areas up to a distance of 60 ft.</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

    </div>
</div>

<!-- Deletion confirmation modal -->
<div class="modal fade" id="deletionConfirmationModal" tabindex="-1" aria-labelledby="deletionConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="deletionConfirmationModalLabel">Confirm Deletion</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this character? This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="confirm-delete-button" data-character-id="{{ character.id }}" class="btn btn-danger" href="#">Delete</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="module" src="{% static 'js/characterDetail.js' %}"></script>
{% endblock %}