* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}



/********************************
  Character sheet custom styles
********************************/



.ability-card-number {
    font-size: 6rem;
}




/***********************
  Navbar custom styles
***********************/

.nav-button {
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
}

@media (min-width: 768px) {
    .nav-button {
        width: initial;
    }
}

@media (min-width: 990px) {
    .nav-button {
        margin: 0 0 0 1rem;
    }
}

.main-logo {
    font-size: 2rem;
}


/********************************
  Characters list custom styles
********************************/

.character-card-image-holder {
    background-size: cover;
    background-position: center;
}

@media (max-width: 370px) {
    .character-card-column {
        width: 100%;
    }
}




/***************************
  Auth pages custom styles
***************************/

.d20-background {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(../images/d20-background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}





